@import "variables";


.image-container {
  position: absolute;
}

.feed-header {
  background-position: center;
}

.feed-images {
  width: 20vw;
  height: auto;
  padding: 10px;
  background-position: center;
}
