@import "variables";


.feed-container {
  padding-left: 4%;
  list-style: none;
}

.feed-images {
  width: 15%;
  vertical-align: bottom;
  display: inline-block;
  padding: 4%;
}

.feed-images img{
  width: 18vw;
  height: auto;
}

.username {
  display: block;
  font-size: 12px;
  color: rgb(136, 136, 136);
  padding-top: 10px;

  &:hover {
    color: $darkgold;
  }
}
