@import "variables";

.image-item-image-container{
  text-align: center;
  padding: 15px;
}

.image-item {
  height: 40vw;
  padding-bottom: 35px;
}


.image-item-details-container{
  text-align: left;
}

.image-item-date {
  display: block;
  font-size: 11px;
  color: rgb(136, 136, 136);
  padding-top: 10px;
  position: absolute;
  margin-bottom: 15px;
}
