.Homepage {
  background: black;
  width: 100%;
  height: calc(100vh - 5.25rem);
  min-height: 35vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}


.section1{
  width: 100%;
  height: 100%;
}
