@import "variables";

.nav-bar {
  display: flex;
  justify-content: space-between;
  background: $white;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
}

.nav-bar-left-side {
  display: flex;
  justify-content: space-between;
  width: 70px;
  opacity: .90;
  margin-top: 5px;
  padding-left: 5px
}

.nav-bar-icons {
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 12px;
  opacity: .85;
  &:hover {
    color: $darkgold;
  }
}

.nav-bar-left-side img {
  width: 3.5vw;
  margin-left: 5px;
  margin-bottom: 20px;
  text-align: left;
  opacity: .98;
  vertical-align: middle;
}

.nav-bar-right-side {
  font-family: 'Lato';
  font-size: 12px;
}

.nav-bar-right-side-session {
  margin-top: 5px;
}

.logout-btn {
  font-family: 'Lato';
  box-sizing: border-box;
  width: 75px;
  height: 25px;
  font-size: 12px;
  background: none;
  border: .0525rem solid;
  border-radius: .125rem;
  letter-spacing: 1px;
  opacity: .85;

  &:hover {
    color: $darkgold;
    border: 1px solid $darkgold;
  }
}

.nav-bar-links {
  font-family: 'Lato';
  font-size: 12px;
  min-width: 80px;
  height: auto;
  text-align: center;
  vertical-align: middle;
  margin-right: 20px;
  letter-spacing: 1px;
  opacity: .85;


  &:hover {
    color: $darkgold;
  }
}

.nav-bar-active{
  font-weight: bolder;
  color: $black;
  opacity: 1;
}
