@import "variables";

.nav-bar {
  display: flex;
  justify-content: space-between;
  background: $white;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
}

.nav-bar-left-side img {
  width: 12vw;
  text-align: left;
  vertical-align: middle;
  margin-top: 5px;
}

.nav-bar-right-side {
  font-family: 'Lato';
  font-size: 12px;
  text-align: left;
}

.logout-btn {
  font-family: 'Lato';
  box-sizing: border-box;
  width: 75px;
  height: 25px;
  font-size: 12px;
  background: none;
  border: .0525rem solid;
  border-radius: .125rem;

  &:hover {
    color: $darkgold;
    border: 1px solid $darkgold;
  }
}

.nav-bar-links {
  font-family: 'Lato';
  font-size: 12px;
  min-width: 80px;
  height: auto;
  text-align: center;
  vertical-align: middle;
  margin-right: 20px;

  &:hover {
    color: $darkgold;
  }
}

.profile-tab-active{
  font-weight: bolder;
  color: $darkgold;
}
