@import "variables";


.logo-container {
  font-size: 14px;
  font-family: 'Arial';
  align-items: center;
}


.logo-text img {
  width: 20%;
  margin:auto;
  text-align: center;
}

.nav-bar {
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background: $white;
  height: 100%;
  position: relative;
}


.btn {
  font-family: 'Arial';
  margin-right: 12px;
  margin-left: 12px;
  font-size: 12px;
  text-align: center;
  padding-top: 8px;

}

.left-side-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.logout-btn {
  font-family: 'Arial';
  font-weight: bolder;
  padding: 0;
  box-sizing: border-box;
  width: 80px;
  height: 25px;
  margin-left: 20px;
  font-size: 12px;
  background: none;
  border: 1px solid black;
}

.currentUser {
  font-family: 'Arial';
  font-size: 12px;
  font-weight: bold;
  min-width: 80px;
  min-height: 25px;
  width: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  padding: 0;
}

.user-logged-in{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.left-content {
  width: 50%;
  text-align: right;
}
