@import "variables";

.profile-images-container{
  padding-left: 4%;
  list-style: none;
}

.profile_picture {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  padding-top: 30px;
}

.profile-info-container{
  display: block;
  text-align: center;
  align-items: center;
}

.profile-space{
  display: flex;
  padding-top: 12px;
  padding-bottom: 30px;
}

.profile-name {
  font-size: 16px;
  padding-top: 15px; 
}

.follow-button {
  font-family: 'Arial';
  padding: 0;
  box-sizing: border-box;
  width: 5rem;
  height: 2rem;
  font-size: 11px;
  background: none;
  border: .0625rem solid;
  border-radius: .125rem;
  color: #888;
  letter-spacing: 1px;

  &:hover {
    color: $darkgold;
    border: 1px solid $darkgold;
  }
}

.profile-images {
  width: 15%;
  vertical-align: bottom;
  display: inline-block;
  padding: 4%;
}

.profile-images img {
  width: 18vw;
  height: auto;
}
