@import 'variables';


.search-input-container{
  width: 88%;
  height: 36vw;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.search-input-box-container {
  width: 100%;
  max-width: 35vw;
  margin-left: auto;
  margin-right: auto;
}

.search-input-box{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 5px;
  border-width: 0 0 .0725rem;
}

.search-results-container{
  display: flex;
  justify-content: center;
  padding: 50px;

  & img {
    width: 18vw;
  }
}

.search-result-username {
  text-align: center;
  padding: 15px;
}
